<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="dataBaseConnection" connectionString="Data Source=sql11.freesqldatabase.com;
			 port=3306;
			 Integrated Security=False;
			 Initial Catalog=sql11480795; 
			 User=sql11480795;
			 Password=sXWQ4MEyxW;" 
			 providerName="Mysql.Data.MysqlClient"/>
	</connectionStrings>
  <!--
    Configure your application settings in appsettings.json. Learn more at https://go.microsoft.com/fwlink/?LinkId=786380
  -->

  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\SimmeMQQT.dll" stdoutLogEnabled="true" stdoutLogFile=".\radzen" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>
